include README.md
include LICENSE
include MANIFEST.in
include pytest.ini
include requirements.txt
include CHANGELOG.md
include setup.py

recursive-include examples

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.flc
global-exclude *.yml
global-exclude *.pyc
global-exclude *.pyo
global-exclude .dircopy.log
global-exclude .git
global-exclude .ipynb_checkpoints